/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video, input {
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     font-weight: normal;
     vertical-align: baseline;
 }
 
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure,
 footer, header, menu, nav, section {
     display: block;
 }
 
 body {
     line-height: 1;
 }
 
 blockquote, q {
     quotes: none;
 }
 
 blockquote:before, blockquote:after,
 q:before, q:after {
     content: none;
 }
 
 table {
     border-collapse: collapse;
     border-spacing: 0;
 }
 
 /* custom */
 a {
     color: #7e8c8d;
     text-decoration: none;
     -webkit-backface-visibility: hidden;
 }
 
 li {
     list-style: none;
 }
 
 ::-webkit-scrollbar {
     width: 5px;
     height: 5px;
 }
 
 ::-webkit-scrollbar-track-piece {
     background-color: rgba(0, 0, 0, 0.2);
     -webkit-border-radius: 6px;
 }
 
 ::-webkit-scrollbar-thumb:vertical {
     height: 5px;
     background-color: rgba(125, 125, 125, 0.7);
     -webkit-border-radius: 6px;
 }
 
 ::-webkit-scrollbar-thumb:horizontal {
     width: 5px;
     background-color: rgba(125, 125, 125, 0.7);
     -webkit-border-radius: 6px;
 }
 
 html, body {
     width: 100%;
     background:#fff;
 }
 
 body {
     -webkit-text-size-adjust: none;
     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
     font-size:12px;
     color:rgb(18,28,50);
     border-color:#efefef;
     text-align: left;
     /* padding-bottom:125px!important; */
 }
/* 设置所有的元素 */
*{
    box-sizing: border-box;
}
 /* 覆盖min-ui的样式 #cf432e*/
 .mint-button--danger{
    background-color: #df1e1d!important;
    width:7.6rem!important;
    margin:2.5rem auto 0;
    border-radius: .5333rem!important;
    height:1rem!important;
    font-size: 16px!important;
 }

 /* 字体颜色 */
 .B7color{
    color:#ef2727!important;
 }

/* 字体大小 */
.fSize16{
    font-size:16px;
}
.fSize14{
    font-size: 14px;
 }
 .fSize13{
    font-size: 13px;
 }
 .fSize12{
    font-size: 12px;
 }
.fColorFFF{
    color:#fff;
}

/* 元素浮动 */
.floatLeft{
    float:left;
}
.floatRight{
    float:right;
}

/* 元素宽 */
.w50{
    width:50%;
}
.warn{
    position: absolute;
    bottom: -38px;
    left:0;
    color:#df1e1d;
    z-index: 999;
    text-align: left;
    font-size: 12px;
    width:100%;
}

/* 覆盖mintui弹框样式 */
.mint-msgbox-confirm{
    /* background:#df1e1d!important; */
    color:#fff!important;
    font-size: 14px;
}
.mint-msgbox-content{
    text-align: center!important;
    border-bottom:1px solid #efefef!important;
    padding-bottom:.7rem!important;
    padding-top:1.1rem!important;
}
.mint-msgbox-cancel{
    font-size: 14px;
}
.mint-msgbox{
    width: 7.2rem!important;
    /* height:3.73rem; */
    border-radius:0.16rem!important;
}
.mint-msgbox-confirm{
    color: #ef2727!important;
    font-size:.426667rem!important;
}
.mint-msgbox-message{
    line-height: .6rem !important;
    color: #333!important;
}
.mint-msgbox-btns{
    line-height: .4rem!important;
    padding: .05rem 0 .05rem!important;
    height: auto!important;
}
.mint-msgbox-btn{
    line-height: 1.2rem!important;
}
.mint-toast.is-placemiddle{
    z-index: 9999;
}
.mint-toast-text{
    line-height: 20px;
}