html{
    height:100%;
}
body{
    background-color:#f9f9f9;
    box-sizing: border-box;
}
#toSignNewCust{
    height:100%;
     background: #fff; 
}
.content{
    background: #fff;
    padding:1rem .4rem .4rem 0.5rem;
    /* height:95%; */
}
.tip{
    text-align: left;
    /* margin-top:20px;    */
    margin-bottom:24px;
    line-height: 18px; 
}
.tip span{ 
    color:#333;
    font-size:0.38rem;
}
.inpBox{
    position: relative;
    height:50px;
    line-height: 50px;
    margin-bottom:10px;
}
input::-webkit-input-placeholder {
    color: #d2cfcf;        
}
.inpBox input{
    width:100%;
    height:41px;
    line-height: 26px;
    border:none;
    border-bottom: 1px solid #efefef;
    background:#fff;
    padding-left:30%;
    font-size:15px;
    color:#333;
    border-radius: 0;
    padding-bottom:15px!important;
}
.inpBox input:disabled{
    background:#fff!important;
    opacity: 1;
    color:#333!important;
}
input:focus{
    outline:0;
    border:none!important;
    border-bottom:0.5px solid #efefef!important;
}
.inpBox span{
    position:absolute;
    left:0;
    top:15px;
    height:20px;
    line-height: 20px;
    width:30%;
    color:#333;
    font-size: 15px;
    text-align:left;
}
.inpBox em{
    font-style: normal; 
    font-size: 13px;
    color:rgb(207,67,46);
    position: absolute;
    left:0;
    bottom:-20px;
    display: none;
}
.inpBox img{
    width:20px;
    position: absolute;
    right:0;
    top:15px;
}
.inpBox .chooseR{
    top:.4rem;
    width:.38rem;
    right:.4rem;
}
.sendCodeBtn{
    position:absolute;
    right:.1rem;
    top:6px;
    width:28%!important;
    margin-top:0;
    font-size: 13px!important;
    border-radius: 20px!important;
    height:34px!important;
}