html{
    height:100%;
}
body{
    background-color:#f9f9f9;
    box-sizing: border-box;
}
#app,#toSignNewCust{
    height:100%;
     background: #fff; 
}
.content{
    background: #fff;
    padding:20px 15px 30px;
    /* height:95%; */
}
.tip{
    text-align: left;
    /* margin-top:20px;    */
    margin-bottom:20px;
    line-height: 18px; 
}
.tip span{
    border-left:3px solid #cf432e;
    padding-left:10px;
    color:rgb(57,66,09);
    font-size: 16px;
}
.inpBox{
    position: relative;
    height:50px;
    margin-bottom:10px;
}
.inpBox input{
    width:100%;
    height:100%;
    border:none;
    border-bottom: 1px solid #efefef;
    background:#fff;
    padding-left:24%;
    font-size:15px;
    color:rgb(10,20,50);
}
input:focus{
    outline:0;
    border:none!important;
    border-bottom:0.5px solid #df1e1d!important;
}
.inpBox span{
    position:absolute;
    left:0;
    top:0;
    height:50px;
    line-height: 50px;
    width:25%;
    color:rgb(57,66,89);
    font-size: 15px;
    text-align:left;
}
.inpBox em{
    font-style: normal; 
    font-size: 13px;
    color:rgb(207,67,46);
    position: absolute;
    left:0;
    bottom:-20px;
    display: none;
}
.inpBox img{
    width:20px;
    position: absolute;
    right:0;
    top:15px;
}
.inpBox .chooseR{
    top:15px;
    width:12px;
    right:10px;
}
.sendCodeBtn{
    position:absolute;
    right:10px;
    top:8.5px;
    width:28%!important;
    margin-top:0;
    font-size: 13px!important;
    border-radius: 10px!important;
}